.App {
	text-align: center;
}

.App-logo {
	height: 20%;
	pointer-events: none;
}
.selector-Wrap {
	width: "50%";
	height: " 5%";
	margin-left: "20%";
	justify-content: "space-between";
	display: "flex";
	box-sizing: "border-box";
	align-items: "center";
	flex-wrap: "wrap";
	word-break: "break-all";
	background: "linear-gradient(-45deg, #EE7752, #E73C7E,#ffff00,#d3d3d3,#DBDBAC ,#23A6D5, #23D5AB)";
}
/* @media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
} */

.App-header {
	background-color: #282c34;
	min-height: 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(30px + 2vmin);
	color: white;
}



#addItem-form {
	width: "50%";
	height: " 5%";
	margin-top: "50px";
	margin-left: "20%";
	justify-content: "space-between";
	display: "flex";
	box-sizing: "border-box";
	align-items: "center";
	background: "linear-gradient(-45deg,#ff0000,#DBDB,#FFFF00,#DBDBAC , #FFFF00, #23A6D5, #23D5AB)";
}

#add-item {
	width: "50%";
	height: " 10%";
	justify-content: "space-between";
	display: "flex";
	box-sizing: "border-box";
	align-items: "center";
	background: "linear-gradient(-45deg,#FF0000,#FFFF00,#00FF00,#23A6D5, #fff)";
}
.display-Wrap {
	width: "50%";
	height: " 5%";
	margin-left: "20%";
	justify-content: "space-evenly";
	display: "flex";
	box-sizing: "border-box";
	align-items: "center";
	overflow: "auto";
	background: "linear-gradient(-45deg, #EE7752, #E73C7E,#ffff00,#d3d3d3,#DBDBAC ,#23A6D5, #23D5AB)";
}
#display-ol {
	padding-inline-start: "0";
	flex-wrap: "wrap";
	max-width: "40%";
	word-break: "break-all";
}
#display-li {
	padding-inline-start: "0";
	justify-content: "space-between";
	overflow: "initial";
}
#display-btn {
	align-items: "self-end";
}
.selector-Wrap {
	width: "50%";
	height: " 5%";
	margin-left: "20%";
	justify-content: "space-between";
	display: "flex";
	box-sizing: "border-box";
	align-items: "center";
	flex-wrap: "wrap";
	word-break: "break-all";
	background: "linear-gradient(-45deg, #EE7752, #E73C7E,#ffff00,#d3d3d3,#DBDBAC ,#23A6D5, #23D5AB)";
}
#selector-h2 {
	width: "50%";
	height: " 5%";
	margin-left: "20%";
	display: "flex";
	box-sizing: "border-box";
	align-items: "center";
	flex-wrap: "wrap";
	word-break: "break-all";
	background: "linear-gradient(-45deg,#DBDBAC , #d3d3d3,#DBDBAC ,";
}
#selector-btn {
	width: "50%";
	height: " 5%";
	margin-left: "20%";
	display: "flex";
	box-sizing: "border-box";
	align-items: "center";
	flex-wrap: "wrap";
	word-break: "break-all";
	background: "linear-gradient(-45deg, #EE7752, #E73C7E,#ffff00,#d3d3d3,#DBDBAC ,#23A6D5, #23D5AB)";
} 
